<div class="content">
    <div class="row">
        <a style="background-image: url('/shop/shirt1.png');" class="box" href="/shop/shirt">
            <div style="background-image: url('/shop/shirt2.png')"; class="hover-box">  <p>Shirts</p></div>
          </a>
          <a style="background-image: url('/shop/pants1.png');" class="box" href="/shop/pant">
            <div style="background-image: url('/shop/pants2.png')"; class="hover-box">  <p>Pants</p></div>
          </a>
          <a style="background-image: url('/shop/footwear1.png');" class="box"href="/shop/footwear">
            <div style="background-image: url('/shop/footwear2.png')"; class="hover-box">  <p>Footwear</p></div>
          </a>
    </div>
    <div class="row">
      
        <a style="background-image: url('/shop/formal1.png');" class="box" href="/shop/formal">
            <div style="background-image: url('/shop/formal2.png');" class="hover-box">  <p>Formal</p></div>
          </a>
          <a style="background-image: url('/shop/accessories1.png');" class="box" href="/shop/accessories">
            <div style="background-image: url('/shop/accessories2.png') ;" class="hover-box">  <p>Accessories</p></div>
          </a>
          <a style="background-image: url('/shop/laptop.png');" class="box"href="/shop/mobilelaptop">
            <div style="background-image: url('/shop/mobile.png');" class="hover-box">  <p>Electronics</p></div>
          </a>
    </div>
    
  </div>
  



