<header>
    <div  style="margin:0%;height:60px;width:100%;background: radial-gradient(circle, rgb(213, 127, 111) 0%, rgb(106, 155, 212) 100%);">
        <ul >
            <li style="margin-left: 150px;"><h2 style="text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0,0.1);font-family: cursive;  color:#f3ebeb"><a style="text-decoration: none;color:#f3ebeb" href="/"><strong> GinStyle</strong></a></h2></li>
            <li  style="margin-left: 940px;"><strong><a style="text-decoration: none;color: rgb(241, 234, 234);" href="/logout">Log-out</a></strong></li>
        </ul>
    </div>
    <div style="height:50px;">
    <nav >
        
        <ul style="margin-top: 20px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            
            <li  style="margin-left: 115px;text-shadow: 0 0.1rem 0.2rem rgba(241, 234, 234,3);letter-spacing: 0.1rem;font-size: 1.1rem;"><a href="/">Home</a></li>
            <li  style="margin-left: 25px;text-shadow: 0 0.1rem 0.2rem rgba(241, 234, 234,3);letter-spacing: 0.1rem;font-size: 1.1rem;"><a href="/profile">Profile</a></li>
            <li  style="margin-left: 25px;text-shadow: 0 0.1rem 0.2rem rgba(241, 234, 234,3);letter-spacing: 0.1rem;font-size: 1.1rem;"><a href="/shop/shirt">Shirts</a></li>
            <li  style="margin-left: 25px;text-shadow: 0 0.1rem 0.2rem rgba(241, 234, 234,3);letter-spacing: 0.1rem;font-size: 1.1rem;"><a href="/shop/pant">Pants</a></li>
            <li  style="margin-left: 25px;text-shadow: 0 0.1rem 0.2rem rgba(241, 234, 234,3);letter-spacing: 0.1rem;font-size: 1.1rem;"><a href="/shop/mobilelaptop">Electronics</a></li>
            <li  style="margin-left: 25px;text-shadow: 0 0.1rem 0.2rem rgba(241, 234, 234,3);letter-spacing: 0.1rem;font-size: 1.1rem;"><a href="/shop/accessories">Accessories</a></li>
            <li  style="margin-left: 25px;text-shadow: 0 0.1rem 0.2rem rgba(241, 234, 234,3);letter-spacing: 0.1rem;font-size: 1.1rem;"><a href="/shop/footwear">Footwears</a></li>
            <li  style="margin-left: 25px;text-shadow: 0 0.1rem 0.2rem rgba(241, 234, 234,3);letter-spacing: 0.1rem;font-size: 1.1rem;"><a href="/shop/formal">Formals</a></li>
            <li  style="margin-left: 25px;text-shadow: 0 0.1rem 0.2rem rgba(241, 234, 234,3);letter-spacing: 0.1rem;font-size: 1.1rem;"><a href="/about">About</a></li>
            
        </ul>
    </nav>
    </div>
</header>