
    <div style="display: flex;flex-direction: row;">
        <div style="width: 420px; height: 600px;margin-left: 50px;margin-top: 100px;" >
            <h1 style="color: black;">Best Selling products on SALE now!</h1>
            <br>
           <p style="color: black;">
            -Discount deals ongoing! Upto 40% OFF<br><br>-Grab the brand products you love most <br><br> -Limited-time deals!
           </p>
        </div>
        <div class="divdisplay">
            <a href="/shop/pant/4" class="divbox1link">
                <div class="divbox1"></div>
            </a>
            <div class="twins">   
                <a href="/shop/footwear/6" class="divboxalink;">
                    <div class="divboxa"></div>
                </a>
                <a href="/shop/accessories/5" class="divboxblink;">
                    <div class="divboxb"></div>
                </a>
            </div>
          </div>
        </div>

