<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="shopinnercontentcss.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="shopouterdetails">
    <div class="shopdetails">
        <div class="shopinnerdetails">

        </div>
    </div>
    </div>
</body>
</html>