<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>GinStyle</title>
	<link rel="stylesheet" href="stylesindex.css">
</head>
<body>
	<%- include("./partials/header.ejs") %>
  
      
    <!-- -->
	<div style="width: 100%; height: 605px; text-align: center ;background-color: rgb(241, 241, 225);">
	<div style="padding: 10%;">
		<p >Hello visitors,
		We are a team of two individuals dedicated enough to make the most out of this website project. 
		Our goal was to involve as many tools and necessities as possible into a single project which would then be used in our resume.
		</p>
		<p>We were quite excited about the completion of this project ,which we completed in 10 days, with only little prior knowledge .
			Me and my partner one day just decided to do things straight up instead of lazing around in our room.</p>
		<p>As we started the project ,we started from all the basic stuffs ,not knowing how to process forward at the minute.
			But as we proceeded, we worked tirelessly to ensure that our project meet the project time-line and also the requirements of a proper website.</p>


	 <p>Thank you for wandering enough in our website to find this web-page!
		
		If you have any questions or comments,
		feel free to contact us at alazosale2002@gmail.com.</p>
	</div>
	</div>
		<!-- --> 
	<footer>
		<p>&copy; 2023 GinStyle. All rights reserved.</p>
	</footer>
</body>
</html>
