<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesindex.css">
    <title>GinStyle</title>
</head>
<body>
    <%- include("./partials/header.ejs") %>
    <p style="font-size: larger;margin-left: 20%;color: aliceblue;">Item has been successfully bought!!</p>
    <footer style="margin-top: 33.2%;">
        <p>&copy; 2023 GinStyle. All rights reserved.</p>
    </footer>
</body>
</html>