<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>GinStyle</title>
	<link rel="stylesheet" href="stylesindex.css">
</head>
<body>
        <p>You have been logged-out</p>>
        <a href="/login">Log-in with another account, click here></a>
</body>
</html>
