<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>GinStyle</title>
	<link rel="stylesheet" href="profile.css">
</head>
<body >
	<%- include("./partials/header.ejs") %>
  <div class="intro-page2">
    
		<!-- image here-->
		<div class="intro-text">
      <h1 style="width: 18% ;margin:0%;border-radius:20px ;margin-left: 100px; padding :20px; background-color:  #333; color: aliceblue;">Profile</h1>
				<h1>WELCOME to the GinStyle Website</h1>
				<p>This website offers various available products from different sketchy- brands , feel free to add these to cart or play around and make
					dummy payments . Check out the history of bought products from your profile as well. 
				</p>
				<a href="/" class="transparent-btn"><strong>Check Out Our Store</strong></a>
		</div>
	</div>
      
      <div class="profile">
        
		<%if(counter1==1){ %>
		<h2>Greetings Admin, good to see you again here.</h2>
		<h2>See how the store is doing by clicking on the statistics.</h2>
		<a href="/data" class="data">Statistics</a>
		<%}  %>
		<%if(counter1==0){ %>
			<h2>Greetings shopper, good to see you again here</h2>
			<%}  %>
          <h3>Name: <%=user.fullname %>    </h3>
          <h3>Email: <%=user.email%>   </h3>
          <h3>Phone: <%=user.phoneno%>    </h3>
		  <p>All your account details are stored in the database <br> The password you give during sign-up is hashed to ensure enhanced protection</p>
        </div>
  <footer>
    <p>&copy; 2023 GinStyle. All rights reserved.</p>
  </footer>
</body>
</html>
