<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="general.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GinStyle</title>
</head>
<body>
    <%- include("../partials/header.ejs") %>

    <div class="content" style="background-color: rgb(249, 243, 243);">
        <div class="row">
            
        <div  class="box" >
          <a href="/shop/accessories/1"> <div  class="box-image" style="background-image:   url('/shop/shopinnercontent/accessories/accessories1.png');"></div></a>
          <div class="description">
            <p style="margin-top:0px; font-family: Verdana, Geneva, Tahoma, sans-serif; height:10%; font-size: 18px;">  PROSTEEL</p>
            <p style=" height:30%"> PROSTEEL Stainless Steel Cuban Links Snake Chain Necklace</p>
            <div class="pricetag"><p >Price :₹1,261.90 </p></div>
          </div>
        </div>
              
        <div  class="box" >
          <a href="/shop/accessories/2"> <div  class="box-image" style="background-image:  url('/shop/shopinnercontent/accessories/accessories2.png');"></div></a>
          <div class="description">
            <p style="margin-top:0px; font-family: Verdana, Geneva, Tahoma, sans-serif; height:10%; font-size: 18px;">Jstyle </p>
            <p style=" height:30%">  Jstyle Stainless Steel Earrings for Men Huggie Earrings 1 Pairs</p>
            <div class="pricetag"><p >Price :₹840.99 </p></div>
          </div>
        </div>
        </div>


        <div class="row">
          
          <div  class="box" >
            <a href="/shop/accessories/3"> <div  class="box-image" style="background-image:   url('/shop/shopinnercontent/accessories/accessories3.png');"></div></a>
            <div class="description">
              <p style="margin-top:0px; font-family: Verdana, Geneva, Tahoma, sans-serif; height:10%; font-size: 18px;"> Vintage</p>
              <p style=" height:30%">  Sword Drop Dangle Small Hoop Earrings for Men Vintage Punk Pray</p>
              <div class="pricetag"><p >Price :₹756.81 </p></div>
            </div>
          </div>
          <div  class="box" >
            <a href="/shop/accessories/4"> <div  class="box-image" style="background-image:   url('/shop/shopinnercontent/accessories/accessories4.png');"></div></a>
            <div class="description">
              <p style="margin-top:0px; font-family: Verdana, Geneva, Tahoma, sans-serif; height:10%; font-size: 18px;"> TIGRADE</p>
              <p style=" height:30%">  TIGRADE 4mm 6mm 8mm 10mm Black Titanium Rings Wedding Band Matte Comfort Fit for Men</p>
              <div class="pricetag"><p >Price :₹1,118.79 </p></div>
            </div>
          </div>
              
        </div>

        <div class="row">
          
          <div  class="box" >
            <a href="/shop/accessories/5"> <div  class="box-image" style="background-image:   url('/shop/shopinnercontent/accessories/accessories5.png');"></div></a>
            <div class="description">
              <p style="margin-top:0px; font-family: Verdana, Geneva, Tahoma, sans-serif; height:10%; font-size: 18px;">King Will LOOP</p>
              <p style=" height:30%"> King Will LOOP Mens Women Tungsten Carbide Wedding Band Tungsten rings Comfort Fit</p>
              <div class="pricetag"><p >Price :₹2,356.28 </p></div>
            </div>
          </div>
          <div  class="box" >
            <a href="/shop/accessories/6"> <div  class="box-image" style="background-image:   url('/shop/shopinnercontent/accessories/accessories6.png');"></div></a>
            <div class="description">
              <p style="margin-top:0px; font-family: Verdana, Geneva, Tahoma, sans-serif; height:10%; font-size: 18px;"> ChainsHouse</p>
              <p style=" height:30%">  ChainsHouse Flat Byzantine Chain Link Necklace for Mens Bracelet Jewelry</p>
              <div class="pricetag"><p >Price :2,549.91 </p></div>
            </div>
          </div>
        </div>
        
      </div>
      <%- include("../partials/footer.ejs") %>
</body>
</html>