<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="general.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GinStyle</title>
</head>
<body>
    <%- include("../partials/header.ejs") %>

    <div class="content"  style="background-color:  rgb(249, 243, 243);">
        <div class="row">
          <div  class="box" >
            <a href="/shop/footwear/1"> <div  class="box-image" style="background-image:    url('/shop/shopinnercontent/footwear/footwear1.png');"></div></a>
            <div class="description">
              <p style="margin-top:0px; font-family: Verdana, Geneva, Tahoma, sans-serif; height:10%; font-size: 18px;">  GLANOUDUN</p>
              <p style=" height:30%"> GLANOUDUN Steel Toe Shoes for Men Women,Lightweight Tennis Shoes</p>
              <div class="pricetag"><p >Price :₹2,861 </p></div>
            </div>
          </div>
          <div  class="box" >
            <a href="/shop/footwear/2"> <div  class="box-image" style="background-image:    url('/shop/shopinnercontent/footwear/footwear2.png');"></div></a>
            <div class="description">
              <p style="margin-top:0px; font-family: Verdana, Geneva, Tahoma, sans-serif; height:10%; font-size: 18px;"> ADIDAS</p>
              <p style=" height:30%">  adidas mens Tech Response Spikeless</p>
              <div class="pricetag"><p >Price :₹3,863 </p></div>
            </div>
          </div>
        </div>

        <div class="row">
          
          <div  class="box" >
            <a href="/shop/footwear/3"> <div  class="box-image" style="background-image:    url('/shop/shopinnercontent/footwear/footwear3.png');"></div></a>
            <div class="description">
              <p style="margin-top:0px; font-family: Verdana, Geneva, Tahoma, sans-serif; height:10%; font-size: 18px;">  WOLVERINE</p>
              <p style=" height:30%">  WOLVERINE Men's Blade LX Waterproof 6" Comp Toe Met Guard Work Boot</p>
              <div class="pricetag"><p >Price :₹15,990 </p></div>
            </div>
          </div>
          <div  class="box" >
            <a href="/shop/footwear/4"> <div  class="box-image" style="background-image:    url('/shop/shopinnercontent/footwear/footwear4.png');"></div></a>
            <div class="description">
              <p style="margin-top:0px; font-family: Verdana, Geneva, Tahoma, sans-serif; height:10%; font-size: 18px;"> Nike </p>
              <p style=" height:30%">  Nike Men's Air Monarch Iv (4e) Cross Trainer</p>
              <div class="pricetag"><p >Price :₹5,132  </p></div>
            </div>
          </div>
              
        </div>

        <div class="row">
          
          <div  class="box" >
            <a href="/shop/footwear/5"> <div  class="box-image" style="background-image:    url('/shop/shopinnercontent/footwear/footwear5.png');"></div></a>
            <div class="description">
              <p style="margin-top:0px; font-family: Verdana, Geneva, Tahoma, sans-serif; height:10%; font-size: 18px;"> Nautica</p>
              <p style=" height:30%">  Nautica Men's Casual Lace-Up Fashion Sneakers Oxford Comfortable Walking Shoe</p>
              <div class="pricetag"><p >Price :₹3,786.5  </p></div>
            </div>
          </div>
          <div  class="box" >
            <a href="/shop/footwear/6"> <div  class="box-image" style="background-image:    url('/shop/shopinnercontent/footwear/footwear6.png');"></div></a>
            <div class="description">
              <p style="margin-top:0px; font-family: Verdana, Geneva, Tahoma, sans-serif; height:10%; font-size: 18px;">Timberland</p>
              <p style=" height:30%"> Timberland Men's Flume Mid Waterproof Hiking Boot</p>
              <div class="pricetag"><p >Price :₹5,870.9 </p></div>
            </div>
          </div>

        </div>
        
      </div>
      <%- include("../partials/footer.ejs") %>
</body>
</html>