<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="general.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GinStyle</title>
</head>
<body>
    <%- include("../partials/header.ejs") %>

    <div class="content"  style="background-color: rgb(249, 243, 243);">
        <div class="row">
          <div  class="box" >
            <a href="/shop/formal/1"> <div  class="box-image" style="background-image:  url('/shop/shopinnercontent/formal/formal1.png');"></div></a>
            <div class="description">
              <p style="margin-top:0px; font-family: Verdana, Geneva, Tahoma, sans-serif; height:10%; font-size: 18px;"> COOFANDY</p>
              <p style=" height:30%">  Men's V-Neck Suit Vests Fashion Formal Slim Fit Business Dress Vest Waistcoat</p>
              <div class="pricetag"><p >Price :₹2,524.65 </p></div>
            </div>
          </div>
          <div  class="box" >
            <a href="/shop/formal/2"> <div  class="box-image" style="background-image:  url('/shop/shopinnercontent/formal/formal2.png');"></div></a>
            <div class="description">
              <p style="margin-top:0px; font-family: Verdana, Geneva, Tahoma, sans-serif; height:10%; font-size: 18px;"> Furuyal </p>
              <p style=" height:30%"> Men's Suits 3 Piece Slim Fit Suit Set,Two Button Wedding Business Tuxedo Solid Blazer Jacket Vest Pants with Tie</p>
              <div class="pricetag"><p >Price :₹7,227.12 </p></div>
            </div>
          </div>
        </div>

        <div class="row">
          
          <div  class="box" >
            <a href="/shop/formal/3"> <div  class="box-image" style="background-image:  url('/shop/shopinnercontent/formal/formal3.png');"></div></a>
            <div class="description">
              <p style="margin-top:0px; font-family: Verdana, Geneva, Tahoma, sans-serif; height:10%; font-size: 18px;"> MAGE MALE</p>
              <p style=" height:30%"> Men's 3 Pieces Suit Slim Fit One Button Business Wedding Party Solid Blazer Vest Pants Set with Tie</p>
              <div class="pricetag"><p >Price :₹7,154.72 </p></div>
            </div>
          </div>
          <div  class="box" >
            <a href="/shop/formal/4"> <div  class="box-image" style="background-image:  url('/shop/shopinnercontent/formal/formal4.png');"></div></a>
            <div class="description">
              <p style="margin-top:0px; font-family: Verdana, Geneva, Tahoma, sans-serif; height:10%; font-size: 18px;">COOFANDY</p>
              <p style=" height:30%">  Men's Formal Fashion Vest Layered Waistcoat Dress Suit Vests for Wedding</p>
              <div class="pricetag"><p >Price :₹3,280.61</p></div>
            </div>
          </div>
              
        </div>


        <div class="row">
          
          <div  class="box" >
            <a href="/shop/formal/5"> <div  class="box-image" style="background-image:  url('/shop/shopinnercontent/formal/formal5.png');"></div></a>
            <div class="description">
              <p style="margin-top:0px; font-family: Verdana, Geneva, Tahoma, sans-serif; height:10%; font-size: 18px;">Mens Suits</p>
              <p style=" height:30%">  Mens Suits Men's Tuxedo Suit Outfits for Men Slim Fit Prom Wedding Suits 3 Piece Blazer Vest Pants Set</p>
              <div class="pricetag"><p >Price :₹6,949.31 </p></div>
            </div>
          </div>
          <div  class="box" >
            <a href="/shop/formal/6"> <div  class="box-image" style="background-image:  url('/shop/shopinnercontent/formal/formal6.png');"></div></a>
            <div class="description">
              <p style="margin-top:0px; font-family: Verdana, Geneva, Tahoma, sans-serif; height:10%; font-size: 18px;">  DONGD</p>
              <p style=" height:30%">  Mens Formal Suit Vest Business Dress Vest for Suit or Tuxedo</p>
              <div class="pricetag"><p >Price :₹2,272.10 </p></div>
            </div>
          </div>

        </div>
        
      </div>
      <%- include("../partials/footer.ejs") %>
</body>
</html>