<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="general.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GinStyle</title>
</head>
<body>
    <%- include("../partials/header.ejs") %>

    <div class="content"  style="background-color: rgb(249, 243, 243);">
        <div class="row">
          <div  class="box" >
            <a href="/shop/mobilelaptop/1"> <div  class="box-image" style="background-image:  url('/shop/shopinnercontent/mobilelaptop/mobile1.png');"></div></a>
            <div class="description">
              <p style="margin-top:0px; font-family: Verdana, Geneva, Tahoma, sans-serif; height:10%; font-size: 18px;"> ASUS</p>
              <p style=" height:30%"> ASUS ROG Phone 6 Batman Edition Cell Phone 12GB RAM, 256GB Storage</p>
              <div class="pricetag"><p >Price :₹84,182 </p></div>
            </div>
          </div>
          <div  class="box" >
            <a href="/shop/mobilelaptop/2"> <div  class="box-image" style="background-image:  url('/shop/shopinnercontent/mobilelaptop/laptop1.png');"></div></a>
            <div class="description">
              <p style="margin-top:0px; font-family: Verdana, Geneva, Tahoma, sans-serif; height:10%; font-size: 18px;"> Acer</p>
              <p style=" height:30%">Acer Nitro 5 AN515-58-525P Gaming Laptop </p>
              <div class="pricetag"><p >Price :₹67,345 </p></div>
            </div>
          </div>
        </div>

        <div class="row">
          
          <div  class="box" >
            <a href="/shop/mobilelaptop/3"> <div  class="box-image" style="background-image:  url('/shop/shopinnercontent/mobilelaptop/laptop2.png');"></div></a>
            <div class="description">
              <p style="margin-top:0px; font-family: Verdana, Geneva, Tahoma, sans-serif; height:10%; font-size: 18px;"> Lenovo</p>
              <p style=" height:30%">Newest Lenovo Ideapad 5i Pro 16 inch Laptop</p>
              <div class="pricetag"><p >Price :₹57,243 </p></div>
            </div>
          </div>
          <div  class="box" >
            <a href="/shop/mobilelaptop/4"> <div  class="box-image" style="background-image:  url('/shop/shopinnercontent/mobilelaptop/mobile2.png');"></div></a>
            <div class="description">
              <p style="margin-top:0px; font-family: Verdana, Geneva, Tahoma, sans-serif; height:10%; font-size: 18px;">REDMAGIC</p>
              <p style=" height:30%"> REDMAGIC 7 165Hz Gaming Phone 18GB+256GB</p>
              <div class="pricetag"><p >Price :₹78,206 </p></div>
            </div>
          </div>
              
        </div>





        <div class="row">
          
          <div  class="box" >
            <a href="/shop/mobilelaptop/5"> <div  class="box-image" style="background-image:  url('/shop/shopinnercontent/mobilelaptop/mobile3.png');"></div></a>
            <div class="description">
              <p style="margin-top:0px; font-family: Verdana, Geneva, Tahoma, sans-serif; height:10%; font-size: 18px;">Black Shark </p>
              <p style=" height:30%">Black Shark 4 Pro 5G Unlocked Gaming Phone, 12GB + 256GB </p>
              <div class="pricetag"><p >Price :₹41,165</p></div>
            </div>
          </div>
          <div  class="box" >
            <a href="/shop/mobilelaptop/6"> <div  class="box-image" style="background-image:  url('/shop/shopinnercontent/mobilelaptop/laptop3.png');"></div></a>
            <div class="description">
              <p style="margin-top:0px; font-family: Verdana, Geneva, Tahoma, sans-serif; height:10%; font-size: 18px;"> ASUS</p>
              <p style=" height:30%"> ASUS Zenbook 2-in-1 Laptop, 15.6 inch FHD Touchscreen</p>
              <div class="pricetag"><p >Price :₹65,262 </p></div>
            </div>
          </div>

        </div>
        
      </div>
      <%- include("../partials/footer.ejs") %>
</body>
</html>