<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="general.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GinStyle</title>
</head>
<body>
    <%- include("../partials/header.ejs") %>

    <div class="content" style="background-color:  rgb(249, 243, 243);">
        <div class="row">
          <div class="box_pants" >
            <a href="/shop/pant/5"> <div  class="box-image" style="background-image:  url('/shop/shopinnercontent/pant/pant5.png');"></div></a>
            <div class="description">
               <p style="margin-top:0px; font-family: Verdana, Geneva, Tahoma, sans-serif; height:10%; font-size: 18px;"> GORGLITTER</p>
               <p style=" height:30%"> GORGLITTER Men's Drawstring Pocket Cargo Pants Straight Leg Jogger Pants </p>
               <div class="pricetag_pants"><p >Price :₹3,029.75 </p></div>
            </div>
          </div>
            <div class="box_pants" >
              <a href="/shop/pant/2"> <div  class="box-image" style="background-image:  url('/shop/shopinnercontent/pant/pant2.png');"></div></a>
              <div class="description">
                 <p style="margin-top:0px; font-family: Verdana, Geneva, Tahoma, sans-serif; height:10%; font-size: 18px;">  WZIKAI </p>
                 <p style=" height:30%">WZIKAI Mens Casual Joggers Pants Cotton Drawstring Chino Cargo Pants for Men Workout Sweatpants Casual Long Trousers</p>
                 <div class="pricetag_pants"><p >Price :₹2,187.08 </p></div>
              </div>
            </div>
        </div>
        
        <div class="row">
          
          <div class="box_pants" >
            <a href="/shop/pant/3"> <div  class="box-image" style="background-image:  url('/shop/shopinnercontent/pant/pant3.png');"></div></a>
            <div class="description">
               <p style="margin-top:0px; font-family: Verdana, Geneva, Tahoma, sans-serif; height:10%; font-size: 18px;">  Plaid&Plain</p>
               <p style=" height:30%">  Plaid&Plain Men’s Slim Fit Khaki Pants Men’s Tapered Chino Pants</p>
               <div class="pricetag_pants"><p >Price :₹2,145.83 </p></div>
            </div>
          </div>
          <div class="box_pants" >
            <a href="/shop/pant/4"> <div  class="box-image" style="background-image:  url('/shop/shopinnercontent/pant/pant4.png');"></div></a>
            <div class="description">
               <p style="margin-top:0px; font-family: Verdana, Geneva, Tahoma, sans-serif; height:10%; font-size: 18px;"> FANLUKA</p>
               <p style=" height:30%">FANLUKA Mens Joggers Cargo Pants Outdoor Sports Fashion Casual Athletics Cool Pants for Men Hip Hop with Drawstring</p>
               <div class="pricetag_pants"><p >Price :₹2,187.92 </p></div>
            </div>
          </div>
              
        </div>

        <div class="row">
          <div class="box_pants" >
            <a href="/shop/pant/1"> <div  class="box-image" style="background-image:  url('/shop/shopinnercontent/pant/pant1.png');"></div></a>
            <div class="description">
               <p style="margin-top:0px; font-family: Verdana, Geneva, Tahoma, sans-serif; height:10%; font-size: 18px;">   LA Police Gear</p>
               <p style=" height:30%"> LA Police Gear Men's Core Cargo Lightweight Tactical Pants, Durable Ripstop Cargo Pants for Men, Stretch Waistband CCW Pants</p>
               <div class="pricetag_pants"><p >Price :₹3,029.75 </p></div>
            </div>
          </div>

          <div class="box_pants" >
            <a href="/shop/pant/6"> <div  class="box-image" style="background-image:  url('/shop/shopinnercontent/pant/pant6.png');"></div></a>
            <div class="description">
               <p style="margin-top:0px; font-family: Verdana, Geneva, Tahoma, sans-serif; height:10%; font-size: 18px;">  Fabletics</p>
               <p style=" height:30%">  Fabletics Men's The Only Pant (Modern Slim Fit), Performance, Lightweight, Breathable, Water Resistant Stretch Woven, XL, Olive Green</p>
               <div class="pricetag_pants"><p >Price :₹7,993.18 </p></div>
            </div>
          </div>

        </div>
        
      </div>
      <%- include("../partials/footer.ejs") %>
</body>
</html>