<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="general.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GinStyle</title>
</head>
<body>
    <%- include("../partials/header.ejs") %>

    <div class="content"  style="background-color:   rgb(249, 243, 243);">
        <div class="row">
            <div  class="box" >
                <a href="/shop/shirt/1"> <div  class="box-image" style="background-image:  url('/shop/shopinnercontent/shirt/shirt1.png');"></div></a>
                <div class="description">
                  <p style="margin-top:0px; font-family: Verdana, Geneva, Tahoma, sans-serif; height:10%; font-size: 18px;"> Men's Performance</p>
                  <p style=" height:30%"> T-Shirt Wrinkle-Resistant Quick Dry Short Sleeve Moisture Wicking UPF 50+ Sun Protection Athletic</p>
                  <div class="pricetag"><p >Price :₹1,502.67 </p></div>
                </div>
              </div>
              <div  class="box" >
                <a href="/shop/shirt/2"> <div  class="box-image" style="background-image:  url('/shop/shopinnercontent/shirt/shirt2.png');"></div></a>
                <div class="description">
                  <p style="margin-top:0px; font-family: Verdana, Geneva, Tahoma, sans-serif; height:10%; font-size: 18px;"> JMIERR</p>
                  <p style=" height:30%">JMIERR Men's Casual Stylish Semi Sleeve Button-less,black-color Cotton Shirt</p>
                  <div class="pricetag"><p >Price :₹840.99 </p></div>
                </div>
              </div>
        </div>

        <div class="row">
          
          <div  class="box" >
            <a href="/shop/shirt/3"> <div  class="box-image" style="background-image:  url('/shop/shopinnercontent/shirt/shirt3.png');"></div></a>
            <div class="description">
              <p style="margin-top:0px; font-family: Verdana, Geneva, Tahoma, sans-serif; height:10%; font-size: 18px;"> Coofandy</p>
              <p style=" height:30%">Coofandy Men's Hawaiian Floral Shirts Cotton Linen Button Down Tropical Holiday Beach Shirts</p>
              <div class="pricetag"><p >Price :₹2,524.65 </p></div>
            </div>
          </div>
          <div  class="box" >
            <a href="/shop/shirt/4"> <div  class="box-image" style="background-image:  url('/shop/shopinnercontent/shirt/shirt4.png');"></div></a>
            <div class="description">
              <p style="margin-top:0px; font-family: Verdana, Geneva, Tahoma, sans-serif; height:10%; font-size: 18px;"> Floerns</p>
              <p style=" height:30%">  Floerns Men's Color Block Short Sleeve Collar Neck Button Down Shirt Top</p>
              <div class="pricetag"><p >Price :₹2,501.10 </p></div>
            </div>
          </div>
              
        </div>

        <div class="row">
          
          <div  class="box" >
            <a href="/shop/shirt/5"> <div  class="box-image" style="background-image:  url('/shop/shopinnercontent/shirt/shirt5.png');"></div></a>
            <div class="description">
              <p style="margin-top:0px; font-family: Verdana, Geneva, Tahoma, sans-serif; height:10%; font-size: 18px;">Romwe </p>
              <p style=" height:30%"> Romwe Men's Long Sleeve Button Down Shirts Plaid Poplin Shirts</p>
              <div class="pricetag"><p >Price :₹2,272.15</p></div>
            </div>
          </div>
          <div  class="box" >
            <a href="/shop/shirt/6"> <div  class="box-image" style="background-image:  url('/shop/shopinnercontent/shirt/shirt6.png');"></div></a>
            <div class="description">
              <p style="margin-top:0px; font-family: Verdana, Geneva, Tahoma, sans-serif; height:10%; font-size: 18px;">  Floerns</p>
              <p style=" height:30%"> Floerns Men's Striped Shirts Casual Short Sleeve Button Down Shirts</p>
              <div class="pricetag"><p >Price :₹2,103.10 </p></div>
            </div>
          </div>

        </div>
        
      </div>
      <%- include("../partials/footer.ejs") %>
</body>
</html>